body {
    margin: 0;
    background-color: #1b1b1b;
    color: white;
    font-family: sans-serif;
}

/* CONTENEDOR FULL WIDTH */
.contenedor {
    margin-top: 145px;
    width: 100%;
    height: 1150px;
    padding: 60px 40px;
    box-sizing: border-box;
}

/* TÍTULO */
.header {
    text-align: center;
    margin-top: 90px;
    font-size: 3.7rem;
    margin-bottom: 90px;
    font-family: 'ClashDisplay-Bold', sans-serif;
    
    
}


