
/* =========================
   SLIDE MENU (OVERLAY RIGHT)
========================= */

nav#slide-menu {
	position: fixed;
	top: 0;
	right: -100vw;
	width: 30vw;
	height: 100vh;
	background: #000000e1;
	z-index: 10000;
	transition: right 500ms ease-in-out;
	box-shadow: -8px 0 20px rgba(0, 0, 0, 0.35);
  border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

body.menu-active nav#slide-menu {
	right: 0;
}

#slideTitle{
  color: #FF6B35;
  font-size: 4rem;
  font-family:'ClashDisplay-Bold'
}

#slideUsername{
  color: #ffffff;
  margin-top: 10px;
  font-size: 2rem;
  font-family:'ClashDisplay-Bold'
}
.slide-content{
  padding-top: 45px;
  margin: 20px;
}

nav#slide-menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	opacity: 0.85;
  margin-bottom: 20px;
}

nav#slide-menu ul li {
	color: #ffffff;
	padding: 10px 0;
	cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 15px;
  margin-bottom: 15px;
}

nav#slide-menu ul li span {
  display: inline-block;
  transition: transform 0.3s ease;
}

nav#slide-menu ul li:hover {
  background-color: white;
  color: #FF6B35;
}

nav#slide-menu ul li:hover span {
  transform: translateX(8px);
}

nav#slide-menu ul li.sep {
	margin-top: 14px;
	padding-top: 14px;
	border-top: 1px solid #6b7a89;
}

.landing-slidelink {
  font-family: 'ClashDisplay-SemiBold';
  font-size: 2rem;
  font-weight: 900;
  color: rgba(0, 0, 0, 0.8);
  letter-spacing: 0.1em;
  text-decoration: none;
  transition: color 0.3s ease;
 

}

.landing-subslidelink{
  font-family: 'ClashDisplay-Medium';
  font-size: 1.2rem;
  margin-left: 15px;
}




.menu-trigger {
  position: fixed;
  top: 40px;
  right: 80px;
  width: 42px;
  height: 42px;
  background: transparent;
  cursor: pointer;
  border: none;
  z-index: 10002;
  transition: transform 300ms ease;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
 
}

.menu-trigger:hover {
  transform: scale(1.1);
}

.menu-trigger svg {
  transition: all 300ms ease;
}

.icon-crate {
  animation: fadeIn 300ms ease;
}

.icon-close {
  animation: rotateIn 300ms ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes rotateIn {
  from {
    opacity: 0;
    transform: rotate(-90deg) scale(0.8);
  }
  to {
    opacity: 1;
    transform: rotate(0deg) scale(1);
	
  }
}

/* =========================
   ACCORDION
========================= */

.accordion-header {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.accordion-arrow {
  
  font-size: 3rem;
  transition: transform 0.3s ease;
}

.accordion-arrow.open {
  transform: rotate(180deg);
}

.accordion-content {
  display: none;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  margin: 0;
  padding: 0;
  transition: 
    max-height 0.4s ease,
    opacity 0.3s ease;
  padding-left: 10px;
}

.accordion-content.open {
  display: block;
  max-height: 300px; /* suficiente para los items */
  opacity: 1;
}

/* Ajuste hover solo para subitems */
.accordion-content li:hover {
  background-color: rgba(255, 255, 255, 0.8);
}
