.title-home {
  display: flex;
  flex-direction: column;      
  align-items: flex-start;    
  margin-left: 140px;         
  margin-top: 150px;           
  text-decoration: none;
  width: 800px;
  height: 420px;
  /* Fondo semitransparente para destacar sobre el hero */
  background-color: rgba(0, 0, 0, 0.226); 
  /* Sombra más marcada */
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.226);     
  border-radius: 15px;
}


.title-home-title{
  font-family: 'ClashDisplay-SemiBold', sans-serif;
  font-size: 3.5rem;
  color: #FF6B35;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.2);

}

/* Texto */
.title-home__subtitle {
  font-family: 'ClashDisplay-Medium', sans-serif;
  font-size: 3rem;
  color: #ffffff;
  line-height: 1.1;
  padding: 10px;  
  text-shadow: 1px 1px 3px rgba(0,0,0,0.25); /* hace que destaque del fondo */   
              
}


.btn-title-home {
  display: flex;
  margin-top: 2rem;
  gap: 1rem;
}

/* Hover texto */
.title-home__subtitle .highlight {
  font-family: 'ClashDisplay-SemiBold', sans-serif;
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.25s ease;
  display: inline-block;
}

.title-home__subtitle .highlight:hover {
  color: #FF6B35;
  font-weight: 700;
  letter-spacing: 0.03em;
  transform: scale(1.05); 
}

/* Botón */
.landing-nav__btn {
  font-family: 'ClashDisplay-Medium', system-ui, sans-serif;
   padding: 12px 30px;
  background: #000;
  color: white;
  border: 2px solid #000;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  text-transform: lowercase;
}

.landing-nav__btn--register {
  background: #FF6B35;
  color: white;
}
.landing-nav__btn--login {
  background: #000000;
  color: white;
}
.landing-nav__btn--login:hover {
 background: #FFD93D;
  color: #000;
  border-color: #000;
}
.landing-nav__btn--register:hover {
  background: #FFD93D;
  color: #000;
  border-color: #000;
}
