@font-face {
  font-family: 'ClashDisplay-Regular';
  src: url('./src/assets/fonts/clash-display/ClashDisplay-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ClashDisplay-Medium';
  src: url('./src/assets/fonts/clash-display/ClashDisplay-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'ClashDisplay-SemiBold';
  src: url('./src/assets/fonts/clash-display/ClashDisplay-SemiBold.otf') format('opentype');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'ClashDisplay-Bold';
  src: url('./src/assets/fonts/clash-display/ClashDisplay-Bold.otf') format('opentype');
  font-style: normal;
  font-weight: 700;
}