.reviews-carousel {
    position: relative;
    width: 70%;
    margin-left: 320px;
    margin-top: 50px;
    
}

.reviews-title{
    font-family: 'ClashDisplay-Medium', sans-serif;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.reviews-title a{
    margin-right: 60px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.reviews-title a:hover{
    
    color: rgb(229, 88, 0);
    transition: 0.4s ease;
}


.reviews-list-carousel {
    display: flex;
    gap: 15px;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 20px 0;
    scrollbar-width: none;
}

.reviews-list-carousel::-webkit-scrollbar {
    display: none;
}

.review-card {
    min-width: 200px;
    max-width: 210px;
    height: 290px;
    flex-shrink: 0;
    background: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.review-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 16px rgba(0,0,0,0.2);
}

.album-cover {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
}

.review-info {
    display: flex;
    padding: 12px;
}

.review-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    gap: 20px;
}

.rating-username{
    display: flex;
    flex-direction: column;
   
}

.username {
    display: flex;
    font-family: 'ClashDisplay-Medium', sans-serif;
    color: black;
    font-size: 16px;
    text-transform: capitalize;
    margin-top: 9px;
    cursor: pointer;
    
}

.username:hover{
    font-weight: bold;
}

.rating {
    display: flex;
    margin-top: 0px;
    font-size: 13px;
    gap: 3px;
}
.avatar{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

