/* Landing.css */

.landing-page {
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
}

/* Imagen de fondo fija (no hace scroll) */
.hero-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1; /* Detrás de todo */
  overflow: hidden;
}

.hero-background__img {
  width: 100vw;
  height: 100vh;
  object-fit: cover; /* Cubre toda la pantalla */
  object-position: center;
  filter: blur(3px);
}

.carousel{
  background: linear-gradient(
    #0c0c15 0%,   /* Un tono más profundo para la base */
    #121220 25%,  /* Tu color principal */
    #1b1b2e 60%,  /* Un tono medio para dar volumen */
    #24243d 100%  /* El punto de luz más claro */
);
}